* {
    box-sizing: border-box;
}

:root {
    --font-blog: "Inter", sans-serif;
    --font-footer: "Open Sans", sans-serif;

    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ==================> Common <================== */
a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);

    margin: 0 auto;
}

.btn {
    display: inline-block;

    min-width: 205px;
    line-height: 60px;

    background: #2e80ce;

    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;

    border-radius: 30px;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */

    width: 40%;

    margin-top: 18px;
}

/* ==================> Header <================== */
.header {
    min-height: 100vh;

    background: var(--header-bg);

    padding: 30px 0 110px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar__list {
    display: flex;
}

.nav-bar__link,
.header__action--log-in {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */

    padding: 8px 21px;
}

.nav-bar__item {
    display: flex;
}

.nav-bar__link:hover,
.nav-bar__link--active,
.header__action--log-in:hover {
    color: #fff;
    font-size: 1.6rem;

    text-shadow: 1px 0 0 currentColor;
}

.nav-bar__link--active::before {
    content: "";

    width: 6px;
    height: 6px;

    background: #fff;

    border-radius: 50%;

    display: inline-block;

    position: relative;
    right: 8px;
    top: -2px;
}

.header__action--log-in {
    margin-right: 7px;
}

.header__action--sign-up {
    min-width: 104px;
    line-height: 44px;

    border-radius: 22px;
    background: #2e80ce;

    font-size: 1.6rem;
    font-weight: 400;

    border-radius: 22px;
}

/* ==================> Hero <================== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 76px;
}

/* Hero Left */
.hero__content {
    max-width: 44.19%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;

    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */

    padding-right: 49px;
}

.hero__row {
    margin-top: 38px;

    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__phone {
    margin-left: 38px;
}

/* Hero Right */
.hero__media {
    max-width: 46.15%;
}

.hero__image {
    display: flex;
    align-items: center;
}

.hero__img {
    object-fit: cover;

    border-radius: 6px;
}

.hero__img--large {
    max-width: 61.1%;

    margin-right: -6px;

    z-index: 1;
}

.hero__img--small {
    max-width: 47.73%;
    height: 75.9%;
}

/* ==================> Service <================== */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;

    margin: 18px auto 0;
}

/* Service Row */
.service__row {
    margin-top: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Service Left */
.service__img {
    width: 570px;
    height: 570px;

    border-radius: 12px;
    background: lightgray 0px -1.3px / 100% 149.93% no-repeat;

    display: flex;
}

/* Service Right */
.service-item {
    width: 470px;

    padding: 21px 18px 20px 22px;

    display: flex;
    gap: 19px;

    border-radius: 10px;
    background: #fff;

    transition: 0.25s;
}

.service-item:hover {
    position: relative;

    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2e80ce;
    box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
}

.service-item__icon {
    width: 60px;
    height: 60px;

    padding: 18px 19px;

    border-radius: 30px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);

    transition: 0.25s;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */

    margin-top: 8px;
}

.service__btn {
    margin-top: 55px;
}

/* ==================> Work <================== */
.work {
    background: #f6fbff;

    padding: 100px 0;
}

.work__list {
    margin-top: 86px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px 42px;

    border: 16px solid #eaf6ff;
    border-radius: 4px;

    transition: 0.25s;
}

.work-item:hover {
    border-color: #2e80ce;

    transform: translateY(-16px);
}

.work-item__icon {
    width: 19.46%;
}

.work-item__heading {
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */

    margin-top: 18px;
}

.work-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */

    margin-top: 28px;
}

.work-item__more {
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */

    display: inline-block;
    margin-top: 18px;
}

/* ==================> About <================== */
.about {
    margin-top: 85px;
    padding: 85px 0 206px;
}

.about-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* About Left */
.about__media {
    width: 48.72%;
}

.about__img {
    position: relative;
}

.about__img--large {
    display: flex;

    width: 89.8%;

    border-radius: 6px;
    background: lightgray -1.5px 0px / 108.398% 100% no-repeat;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--small {
    width: 58.25%;

    border-radius: 6px;
    background: lightgray 50% / cover no-repeat;

    position: absolute;
    top: 121px;
    left: 238px;
}

/* About Right */
.about-content {
    width: 40.17%;
}

.about-content__desc {
    width: 100%;
}

.about-content__btn {
    margin-top: 38px;
}
